.Button {
    padding: 5px 10px;
    background-color: chocolate;
    color: lightgrey;
    font-weight: 700;
    text-decoration: underline;
    border: none;
    border-radius: 8px;
    font-size: x-large;
    box-shadow: 20px 20px 25px grey;
    margin-bottom: 10px;
    margin-right: 10px;
}

.Button:hover {
    box-shadow: 10px 10px 25px grey;
    border: solid chocolate;
}

.Button img{
    height: 25px;
}